
# --- Rust
target/


# nodejs accept test
!.mocharc.yaml

# --- Safety net
dist/
out/
__pycache__/
node_modules/
npm-debug.log
report.*.json

*.lock

*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz

# videos
*.mov
*.mp4

# images
*.icns
*.ico
*.jpeg
*.jpg
*.png

# frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?